html, body {
  cursor: default;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.ui-tabs {
  &.ui-widget {
    padding: 0;
  }

  .ui-tabs-panel {
    padding: 0 3px;
    margin-top: 5px;
  }
}

ul.ui-tabs-nav {
  li.ui-tabs-tab > a.ui-tabs-anchor,
  li.ui-tabs-tab.ui-tabs-active > a.ui-tabs-anchor {
    outline: none;
    cursor: pointer;

    &.ui-tabs-active {
      cursor: pointer;
    }
  }
}

.ui-menu {
  border: none;
  overflow-y: scroll;
}

.ui-menu.items {
  li.ui-menu-item {
    .ui-menu-item-wrapper {
      width: calc(100% - 5px);
    }

    > div {
      cursor: pointer;
      user-select: none;
      height: 24px;
      padding: 1px 0;
    }


    img.item-favicon {
      height: 20px;
      width: 20px;
      padding: 2px;
    }
  }

  .item-title {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 2;
    margin-left: 3px;
    padding: 1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ui-widget.ui-widget-content {
  border: none;
  margin-top: 5px;
}

.header {
  button {
    outline: none;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    user-select: none;
  }

  #add {
    background-image: url("../assets/add.png");
  }

  #options {
    background-image: url("../assets/preference.png");
  }
}
