
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html, body {
  cursor: default;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.ui-tabs {
  &.ui-widget {
    padding: 0;
  }

  .ui-tabs-panel {
    padding: 0 3px;
    margin-top: 5px;
  }
}

ul.ui-tabs-nav {
  li.ui-tabs-tab > a.ui-tabs-anchor,
  li.ui-tabs-tab.ui-tabs-active > a.ui-tabs-anchor {
    outline: none;
    cursor: pointer;

    &.ui-tabs-active {
      cursor: pointer;
    }
  }
}

.ui-menu {
  border: none;
  overflow-y: scroll;
}

.ui-menu.items {
  li.ui-menu-item {
    width: calc(100% - 1px);

    .ui-menu-item-wrapper {
      height: 23px;
      padding: 0;
    }

    > div {
      cursor: pointer;
      user-select: none;
    }


    img.item-favicon {
      height: 15px;
      width: 15px;
      padding: 4px;
    }

    &:hover {
      .button__item-remove {
        display: block;
      }

      .item-title {
        width: calc(100% - 50px);
      }
    }

    .button__item-remove {
      &:hover {
        display: block;
      }

      display: none;
      height: 15px;
      width: 15px;
      background-image: url("../assets/bin.png");
      background-repeat: round;
      background-color: white;
      border-radius: 3px;
      position: absolute;
      right: 5px;
      margin-top: -20px;
    }
  }

  .item-title {
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: top;
    line-height: 2;
    margin-left: 3px;
    padding: 1px 0;
    @include text-truncate;
  }
}

.ui-widget.ui-widget-content {
  border: none;
  margin-top: 5px;
}

.header {
  button {
    outline: none;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    background-color: white;

    &:hover {
      background-color: gainsboro;
    }

    &:active {
      background-color: lightgrey;
    }
  }

  #add {
    background-image: url("../assets/add.png");
  }

  #options {
    background-image: url("../assets/preference.png");
  }
}
